*{margin: 0; padding: 0; box-sizing: border-box;}
        a{text-decoration: none;}
        li{list-style: none;}

        /*헤더*/
        #header{
            width: 1680px; height: 322px; 
            margin: 0 auto;
            position: relative;
            background: url('../img/sub_vis.jpg');
        }
        /*헤더네비*/
        #header > #header_nav{
            width: 1224px; height: 82px;
            margin: 0 auto;
            z-index: 2;
            position: relative;
        }

        #header > #header_nav > a > img{
            float: left;
            width: 160px; height: 55px;
            margin-right: 80px; margin-left: 28px;
            margin-top: 20px;
        }

        #header > #header_nav > .mid_depth > li{
            float: left;
            width: 150px; height: 50px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 60px;
            background: none;
            font-weight: bolder;
        }
        #header > #header_nav > .mid_depth > li:hover{
            transition: 0.4s;
        }
        #header > #header_nav > .mid_depth > li:hover a{
            color: black;
        }

        /*가운데 메뉴*/
        #header > #header_nav > .mid_depth > li > a{
            color: black;
            line-height: 42px;
        }
        #header > #header_nav > .right_depth > li > a{
            color: white;
            line-height: 28px;
        }
        
        /*오른쪽 메뉴*/
        .right_depth > li{
            float: right;
            text-align: center;
            margin-top: 20px;
            width: 70px; height: 50px;
        }
        #header > #header_nav > .right_depth > li:first-child{
            width: 50px; margin-right: 30px; border: none; margin-top: 33px;
        }
        #header > #header_nav > .right_depth > li:last-child{
            border: 1px solid white; margin-right: 20px;
            border-radius: 30px; height: 30px; margin-top: 30px;
            line-height: 0px;
        }
        

        /*2차메뉴*/
        .depth2 > li > a{
            color: #fff;
            font-size: 14px;
            text-align: center;
        }
        .depth2 > li:first-child{
            margin-top: 20px;
        }
        .depth2 > li{
            width: 150px; height: 20px;
            background-color:rgba(221, 221, 221, 0.7);
            line-height: 10px;
            padding-top: 20px;
            padding-bottom: 25px;
            border-bottom: 1px solid white;
        }



        /*비주얼부분*/
        #visual1{
            width: 1280px; height: 300px;
            margin: 0 auto;
        }
        #visual1 > .vis-topNav{
            width: 1280px; height: 50px;
            /* outline: 2px solid red; */
        }

        /*노란 메뉴바 좌측버튼 사이즈 조절*/
        #visual1 > .vis-topNav > .vis-depth1 li:first-child{
            width: 50px;
            margin-left: 20px;
        }
        #visual1 > .vis-topNav > .vis-depth1{
            width: 582.99px;
            height: 50px;
            position: absolute;
            left: 33%; right: 30%;
            /* top: -25px; */
            top: 295px;
            margin: 0 auto;
            background: #ffcb08;
            border-radius: 35px;
            z-index: 1;
        }
        #visual1 > .vis-topNav > .vis-depth1 > li{
            float: left;
            line-height: 50px;
            width: 160px;
            text-align: center;
            /* outline: 2px solid blue; */
            overflow: hidden;

        }
        #visual1 > .vis-topNav > .vis-depth1 > li a{
            color: #5d5d5d;
        }

        #visual1 > .vis-topNav > .vis-depth1 > li:hover{
            border: 1px dashed black;
            box-sizing: border-box;
            background:#F0DF10;
            transition:0.2s;
        }

        #visual1 > .vis-topT > h1{
            text-align: center;
            width: 1280px;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        #visual1 > .vis-Nav{
            width: 1064px;
            height: 34px;
            margin: 0 auto;
        }

        #visual1 > .vis-Nav > .vis-depth3 > li:hover{
            background: #eee;
            cursor: pointer;
        }
        #visual1 > .vis-Nav > .vis-depth3 > li > a{color: black;}
        /* #visual1 > .vis-Nav > .vis-depth3 > li{
            float: left;
            width: 250px;
            text-align: center;
            line-height: 40px;
            border: 1px solid black;
            box-sizing: border-box;
            margin-top: 30px;
            
        } */
        #visual1 > .vis-topNav > .vis-depth1 > li > .vis-depth2 > li{
            width: 160px;
            font-size: 12px;
            text-align: center;
            margin: 0 auto;
            background: #ffcb08;
            /* outline: 1px solid red; */
        }
        /* #visual1 > .vis-topNav > .vis-depth1 > li > .vis-depth2 > li > a{
        outline: 1px solid red;
        } */

        #visual1 > .vis-Nav > .vis-depth3{
            width: 1064px; height: 40px;
        }

        #visual1 > .vis-Nav > .vis-depth3 a.selected{
            color: white;
        }
        #visual1 > .vis-Nav > .vis-depth3 > li.selected{
            background: #48B5D8 ;
        }
        #visual1 > .vis-Nav > .vis-depth3 > li{
            float: left;
            width: 354.66px; height: 40px;
            text-align: center;
            line-height: 35px;
            border: 1px solid black;
            box-sizing: border-box;
        }

        /*비주얼2*/
        #visual2{
            width: 1240px;
            margin: 0 auto;
        }
        .leftImg{width: 30px; height: 50px; float: left; margin-top: 60px; cursor: pointer;}
        .rightImg{width: 30px; height: 50px; float: right; margin-top: 60px; cursor: pointer;}
        #visual2 > .vis-showImg{
            position: relative;
            margin: 0 auto;
            width: 800px;
            margin-bottom: 80px;
            overflow: hidden;
            /* outline: 2px solid red; */
        }
        #visual2 > .vis-showImg > .visImg1{
            width: 800px; height: 100%;
        }
        .vis-slider {
            width: 1124px;
            height: 370px;
            margin: 0 auto;
            /* outline: 1px solid red; */
            /* position: relative; */
        }
        .vis-slider > .sliderBox{
            margin: 0 auto;
            width: 1120px;
            height: 170px;
            /* background: #ccc; */
            /* position: absolute; */
            overflow: hidden;
            /* outline: 2px solid red; */
        }

        .vis-slider > .sliderBox > .slider img:last-child
        .slider2 img:last-child{
            margin-right: 24px;
        }
        .vis-slider > .sliderBox > .slider, .slider2{
            /* outline: 1px solid red; */
            width: 1000px;
            margin-top: 10px;
            margin-left: 30px;
            height: 150px;
            float: left;
            /* position: absolute; */
            overflow: hidden;
        }
        .vis-slider > .sliderBox > .slider img, .slider2 img{
            margin-left: 24px; 
            width: 220px; height: 200px;
            float: left;
            cursor: pointer;
        }
        /* .vis-slider > .leftImg{
            float: left;
            margin-top: 50px;
            width: 35px; height: 50px;
            cursor: pointer;
        }
        .vis-slider > .rightImg{
            float: right;
            margin-top: 50px;
            width: 35px; height: 50px;
            cursor: pointer;
        } */
        /*비주얼2 끝*/



        #footer{
            /* position: absolute; */
            width: 100%; height: 300px;
            bottom: 0;
            background: black;
            outline: 3px solid pink;
            /* clear: both; */
        }
        #footer > .footer-up{
            width: 1000px;
            margin: 0 auto;
            border-bottom: 1px solid #bdbdbd;
        }
        #footer > .footer-up > img{
            width: 160px; height: 55px;
            margin-top: 50px;
            padding-bottom: 10px;
        }

        #footer > .footer-up > .footer-text{
            background: #5d5d5d;
            width: 320px;
            float: right;
            padding: 10px;
            margin-top: 60px;
        }
        #footer > .footer-up > .footer-text > li{
            color: #ccc;
            float: left;
            margin-left: 10px;
            width: 130px;
            text-align: center;
        }
        #footer > .footer-up > .footer-text > li > span{
            margin-right: 20px;
        }

        #footer > .footer-down{
            margin: 0 auto;
            width: 1000px;
        }
        #footer > .footer-down > .p1 > p{
            color: #ccc;
            text-align: center;
            margin-top: 30px;
            font-size: 18px;
        }

        #footer > .footer-down > .p2 > p{
            color: #ccc;
            text-align: center;
            margin-top: 30px;
            font-size: 12px;
        }

        /* 대표인사 section */
        #mid {
            /* outline: 2px solid red; */
            width: 1280px;
            height: 700px;
            margin: 0 auto;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        
        #mid > #img_wrap{
            position: relative;
            width: 1280px;
        }
        #mid > #img_wrap > #left {
            float: left;
            width: 640px;
            padding-left: 50px;
            /* outline: 2px solid green; */
            margin-right: 30px;
        }
        #mid > #img_wrap > #left > h1 {
            font-size: 45px;
            font-weight: bold;
            margin-bottom: 50px;
        }
        #mid > #img_wrap > #left > h1 > span {
            color: #666;
            font-weight: normal;
        }
        #mid > #img_wrap > #left > p {
            color: #666;
            font-size: 18px;
            margin-bottom: 20px;
        }
        #mid > #img_wrap > #left > h2 {
            color: #5679a5;
            font-size: 30px;
            margin-bottom: 30px;
        }

        /* #mid > #img_wrap > #right {
            width: 400px; 
             outline: 4px solid purple;
        } */

        /* END 대표인사 section */

        .vis1-title h1{
            margin-top: -50px;
            width: 1280px;
            text-align: center;
            position: relative;
            /* outline: 1px solid red; */
            line-height: 300px;
            font-size: 52px;
            /* background: #fff; */
            z-index: -1;
        }
        .vis-depth1  img {
            width: 20px; 
            /* height: 20px; */
            padding-top: 14px;
            line-height: 50px;
        }
